name: Test de workflow

on:
  schedule:
    - cron: '0 * * * *' 
  workflow_dispatch:   

jobs:
  job1:
    name: job1
    runs-on: ubuntu-latest

    steps:
      - name: Récupération du code source
        run: |
          echo "Récupération du code source"

      - name: Vérification terminée
        run: |
          echo "Vérification terminée"
